.form_container {
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 85%;
    }
}
@media screen and (max-width: 700px) {
    .form_container {
        width: 85%;
    }
}